unintegrated-tests/by-rule/att-top-level/att-top-level-test-pass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="SomeType">
        <xs:annotation>
            <xs:documentation>Some type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SomeElement" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute ref="SomeAttribute"></xs:attribute>
    </xs:complexType>
    
    <xs:attribute name="SomeAttribute"></xs:attribute>

</xs:schema>
