unintegrated-tests/by-rule/el-top-level/el-top-level-test-fail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="SomeType">
        <xs:annotation>
            <xs:documentation>Some type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SomeOtherElement" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:element name="SomeElement" type="SomeType" />

</xs:schema>
