tests/rules/att-top-level/att-top-level-test-fail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model
    href="rule-9-30.sch"
    type="application/xml"
    schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="SomeType">
        <xs:annotation>
            <xs:documentation>Some type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SomeOtherElement" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="SomeAttribute"></xs:attribute>
    </xs:complexType>

</xs:schema>
